.controls{
    padding: 3px;
    overflow: hidden;
    background-color: rgb(218, 218, 218);
    align-items: center;
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.buttons{
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-around;
    display: flex;
}
.buttons button{
    border: none;
    padding: 8px 27px;
    background: transparent;
    color: #fff;
    font-size: 18px;
    transition: all 1s;
    cursor: pointer;
    width: 100%;
    color: var(--main-color);
}
.buttons button:hover{
    background-color: rgba(29, 1, 95, 0.363);
}
.progress-bar{
    flex: 3;
}
input{
    width: 95%!important;
}


@media(max-width: 768px){
    .controls{
        grid-template-columns: auto;
    }
}